# the data should not be uploaded to github
/beachlitter

# ignore the saved notebooks
/NB_saves

# ignore the codes I learned from 
/Unet-with-Pretrained-Encoder

# ignore the paper I read
/papers

# ignore my work journal
journal.ipynb

# ignore the draft of README.MD I mke in norebook
README.ipynb

# ignore my to do list
to_do.ipynb


